@import "components/variable";
@import "components/nav";
@import "pages/home";
@import "pages/about";
@import "pages/project";
@import "pages/contact";
@import "pages/skills";




body {
    width: 100%;
    // height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: column;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
}
