@import "components/variable";
@import "components/nav";
@import "pages/home";
@import "pages/about";
@import "pages/project";
@import "pages/contact";



// .container{
//   display: flex;
//    justify-content: center;
//    justify-content: space-between;
//    padding: 40vw;
//    margin-left:2vw;
//   a{
//     color: white;
//     font-size: 3vw;
//   }
// }
body {
    width: 100%;
    // height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: column;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
}
