.about{
  background-color: #000000d9;
  width:100%;
    // min-height: 600px;
  padding-top: 45vh;
  height: 58vh;
  color: white;
}
.about-title{
  font-size: 60px;
  color: white;
  padding-left: 60vw;
  font-family: $home-font;
  margin-top: -33vh;
  letter-spacing: .3em;
}
.about-content{
  width: 60%;
  font-size: 19px;
  text-align: justify;
  letter-spacing: .14em;
  padding-left: 18vw;
  padding-right: 10vw;
  white-space: normal;
  font-family: $about-font;
  margin-top: -2.5vh;
}
#about-overflow{
  height: 28vh;
  overflow: auto;
}
.about-title::first-letter {
  font-size: 130%
}
