.contact-title{
  color: white;
  font-family: $home-font;
  margin-top: 10vh;
  letter-spacing: .5em;
  font-size: 20px;
  text-align: center;
  margin-right: 2vw;
}
.contacts a{
  font-size: 20px;
  color: #9e9e9e;
  &:hover{
    color: white;
  }
}
.dash, .dash2{
  width: 20vw;
  height: 1px;
  background: white;
  position: absolute;
  margin-left: -25vw;
  margin-top: 1.5vh;
}
.dash2{
  // width: 12vw;
  margin-left: 4.5vw;
  margin-top: 1.5vh;
}
@media only screen and (max-width: 600px), screen and (max-height: 450px) {
  .contact-title{
    font-size: 10px;
    padding-bottom: 10vh;
  }
  .contacts a{
    font-size: 12px;
  }
  .dash, .dash2{
    margin-top: 0.75vh;
  }
}
