.home-content{
  background-color: #000000d9;
  padding-top: 45vh;
  height: 62vh;
  padding-left:40vw;
  padding-top:40vh;
}
.hello{
  color: white;
  font-size: 60px;
  font-family: $home-font;
}
.line{
  position: relative;
  width:0;
  border-right: 2px solid rgba(255,255,255,.75);
  // white-space: nowrap;
  overflow: hidden;
  color: white;
  // position: absolute;
  font-family: $home-font;
}
.anim-typewriter{
  animation: typewriter 5s steps(30, end) 1s infinite;
}
@keyframes typewriter{
  0%{
    width: 0;
  }
  25%
  {width: 6.8em;
  }
  50%{
    width: 15em;
  }
  75%{
    width: 25em;
  }
  100%{
    width: 0em;
  }
}

@media only screen and (max-width: 600px), screen and (max-width: 450px) {
  .hello{
    font-size: 30px;
    margin-left: -10vw;
  }
  .line{
    font-size: 11px;
    margin-left: -10vw;
  }
  .home-content{
    width:100%;
  }

}
