.skill-title{
  font-size: 28px;
  color: white;
  padding-left: 18vw;
  font-family: $home-font;
  margin-top: 5vh;
  letter-spacing: .2em;
}

.skill-content{
  color: #9e9e9e;
  height: 3vh;
  font-size: 19px;
  letter-spacing: .12em;
  margin-left: 18vw;
  padding-right: 10vw;
  padding: 1px;
  white-space: normal;
  font-family: $about-font;
}

.tech{
    font-size: 19px;
    font-weight: normal;
    font-family: $about-font;
    padding-right: 4px;
    &:hover{
      color: white;
    }
}
@media screen and (max-width: 450px) {
  .skill-title{
    font-size: 12px;
  }
  .tech{
    font-size: 8px;
  }
  .skill-content{
    font-size: 12px;
    padding: -1px;
    line-height: 1.5;
  }
}
